/* Resetowanie marginesów i paddingów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #0a0a0a, #1b3a4b);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Nagłówek */
.hero {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

/* Kalendarz */
#calendar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
}

.has-training {
    background-color: #28a745;
    color: white;
    font-weight: bold;
}

.has-training:hover {
    background-color: #218838;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 80vw;
    max-width: 100%;
    padding: 30px;
    background-color: rgba(42, 42, 42, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

.day {
    background-color: #444;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.day:hover {
    background-color: #5a5a5a;
}

.today {
    background-color: #28a745;
    color: white;
}

.training {
    background-color: #1e7e34;
    color: white;
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.training:hover {
    opacity: 0.8;
}

/* Formularz */
form {
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
}

form input,
form button {
    padding: 15px;
    font-size: 1rem;
    width: 100%;
    border-radius: 5px;
    border: none;
}

form button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

form button:hover {
    opacity: 0.8;
}

/* Przycisk Powrót */
.btn {
    display: inline-block;
    padding: 15px 25px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1.2rem;
}

.btn:hover {
    background-color: #0056b3;
}

/* Responsywność */
@media (max-width: 768px) {
    #calendar {
        width: 95vw;
        grid-template-columns: repeat(7, 1fr);
    }

    .hero h1 {
        font-size: 2rem;
    }

    .day {
        padding: 15px;
        font-size: 1rem;
    }
}