/* Resetowanie marginesów i paddingów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: linear-gradient(90deg, rgba(2, 0, 36, 1) 35%, rgba(17, 121, 9, 1) 96%);
    color: #333;
    line-height: 1.6;
    /* Czytelne odstępy */
}


.head h1 {
    font-size: 2rem;
    font-weight: 700;
}

/* Sekcja Hero */
.hero {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 35%, rgba(17, 121, 9, 1) 96%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero-content {
    max-width: 6000px;
    padding: 100px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.cta-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #45a049;
}

.cta-button.secondary {
    background-color: #f1f1f1;
    color: #333;
}

.cta-button.secondary:hover {
    background-color: #ddd;
}

.cta-button.third {
    background-color: #f1f1f1;
    color: #333;
}

.cta-button.third:hover {
    background-color: #ddd;
}

/* Stopka */
footer {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer p {
    font-size: 1rem;
}

/* Responsywność */
@media (max-width: 768px) {
    .hero {
        height: 70vh;
        /* Jeszcze mniejsza wysokość na małych ekranach */
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 0.9rem;
    }

    .cta-button {
        padding: 8px 15px;
        font-size: 0.9rem;
    }
}