<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O aplikacji</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>

<body>
    <div class="features">
        <h2>O aplikacji</h2>
        <div class="feature-cards">
            <div class="feature-card">
                <img src="https://img.icons8.com/ios-filled/50/000000/dumbbell.png" alt="Trening" />
                <h3>Treningi na miarę</h3>
                <p>Otrzymuj spersonalizowane plany treningowe, które pomogą Ci osiągnąć Twoje cele, niezależnie od
                    poziomu zaawansowania.</p>
            </div>
            <div class="feature-card">
                <img src="https://img.icons8.com/?size=100&id=83hKaB6WiN1j&format=png&color=000000" alt="Dyscypliny" />
                <h3>Uwzględnij Swoją dyscyplinę</h3>
                <p>Wybierz swoją dyscyplinę, a uzyskasz ćwiczenia i spersonalizowany plan pod nią</p>
            </div>
            <div class="feature-card">
                <img src="https://img.icons8.com/ios-filled/50/000000/calendar.png" alt="Planowanie" />
                <h3>Planowanie</h3>
                <p>Twórz harmonogramy, planuj sesje treningowe i ustawiaj przypomnienia, aby utrzymać systematyczność i
                    motywację.</p>
            </div>
            <div class="feature-card">
                <img src="https://img.icons8.com/ios-filled/50/000000/weight.png" alt="Postępy" />
                <h3>Śledzenie postępów</h3>
                <p>Śledź swoje postępy za pomocą wykresów, kalkulatorów i kalendarzy. Obserwuj, jak zbliżasz się do
                    swoich celów krok po kroku.</p>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 TreningManager - Wszystkie prawa zastrzeżone</p>
    </footer>
</body>

</html>