<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O aplikacji</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>

<body>
    <div class="features">
        <h1>O aplikacji</h1>
        <div class="feature-cards">
            <div class="feature-card">
                <img src="https://img.icons8.com/ios-filled/50/000000/dumbbell.png" alt="Trening" />
                <h3>Treningi na miarę</h3>
                <p>Otrzymuj proste plany treningowe, które pomogą Ci osiągnąć Twoje cele oraz utrzymają twoją forme na
                    dobrym poziomie.</p>
            </div>
            <div class="feature-card">
                <img src="https://img.icons8.com/?size=100&id=285&format=png&color=000000" alt="Dyscypliny" />
                <h3>Notuj informacje</h3>
                <p>Rejestruj swoje treningi i wszystkie istotne informacje w wygodnym notatniku dostępnym w aplikacji.
                </p>
            </div>
            <div class="feature-card" style="margin-bottom: 20px;">
                <img src="https://img.icons8.com/ios-filled/50/000000/calendar.png" alt="Planowanie" />
                <h3>Planowanie</h3>
                <p>Stwórz swoj harmonogram i planuj swoje sesje treningowe an cały tydzień.</p>
            </div>
            <div class="feature-card">
                <img src="https://img.icons8.com/?size=100&id=1112&format=png&color=000000" alt="Postępy" />
                <h3>Kontroluj swój czas</h3>
                <p>Skorzystaj z timera , planuj czas ćwiczeń wraz z ilością rund</p>
            </div>
            <div class="feature-card">
                <img src="https://img.icons8.com/?size=100&id=25480&format=png&color=000000" alt="Postępy" />
                <h3>Nie tylko trening</h3>
                <p>Oblicz swoje BMI i zapotrzebowanie kaloryczne, aby lepiej dostosować diete do twoich treningów.</p>
            </div>
            <div class="feature-card">
                <img src="https://img.icons8.com/?size=100&id=61588&format=png&color=000000" alt="Postępy" />
                <h3>Codzienna dawka motywacji</h3>
                <p>Realizuj codzienne wyzwania, które pomogą zachować Ci sprawość fizyczną</p>
            </div>
        </div>
    </div>

    <div class="button-container">
        <button onclick="window.history.back()" class="cta-button">Wróć</button>
    </div>

    <footer>
        <p>&copy; 2024 TreningManager - Wszystkie prawa zastrzeżone</p>
    </footer>
</body>

</html>