<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TreningManager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}">
</head>

<body>
    <div class="hero">
        <div class="hero-content">
            <h1>Witaj w TreningManager!</h1>
            <p>Zarządzaj swoimi treningami i osiągaj cele szybciej niż inni.</p>
            <div class="button-container">
                <button class="cta-button third" onclick="window.location.href='{{ url_for('Login') }}'">Zaloguj się
                    <button class="cta-button" onclick="window.location.href='{{ url_for('ask_details') }}'">Jesteś
                        nowy, kliknij tutaj
                        <button class="cta-button secondary" onclick="window.location.href='{{ url_for('about') }}'">O
                            aplikacji</button>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 TreningManager - Wszystkie prawa zastrzeżone</p>
    </footer>
</body>

</html>