<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/login.css') }}">
</head>

<body>
    <form action="{{ url_for('login') }}" method="POST">
        <h1>Zaloguj się</h1>
        <label for="first-name">Imię:</label>
        <input type="text" id="first-name" name="first-name" required>

        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Zaloguj</button>
    </form>

    <!-- Sekcja wyświetlania komunikatów -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="message-box {{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    </div>
</body>

</html>