<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TreningManager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <div class="hero">
        {% if session.get('user_name') %}
        <h1>Cześć, {{ session.get('user_name') }}!</h1>
        <p>Witaj w TreningManager! Oto opcje, które przygotowaliśmy dla Ciebie.</p>
        {% else %}
        <h1>Witaj w TreningManager!</h1>
        <p>Stwórz swój plan treningowy i zacznij osiągać cele!</p>
        {% endif %}
    </div>

    <div class="logout-container">
        <form action="{{ url_for('logout') }}" method="post">
            <button type="submit" class="logout-btn">Wyloguj</button>
        </form>
    </div>



    <div class="features">
        <h2>Opcje dostępne w aplikacji</h2>
        <div class="feature-cards">
            <!-- 6 prostokątów, każdy opakowany w link -->
            <a href="/Workout_plan" class="feature-card">
                <img src="https://img.icons8.com/ios-filled/50/000000/dumbbell.png" alt="Plany treningowe" />
                <h3>Generuj plan treningowy</h3>
                <p>Stwórz plan treningowy dostosowany do twojej dyscypliny.</p>
            </a>
            <a href="/Timer" class="feature-card">
                <img src="https://img.icons8.com/?size=100&id=19099&format=png&color=000000" alt="Stoper" />
                <h3>Boxing timer</h3>
                <p>Zaplanuj czas treningu.</p>
            </a>
            <a href="/Calendar" class="feature-card">
                <img src="https://img.icons8.com/ios-filled/50/000000/calendar.png" alt="Planowanie" />
                <h3>Kalendarz</h3>
                <p>Ustaw harmonogram treningów i śledź postępy.</p>
            </a>
            <a href="/BMI" class="feature-card">
                <img src="https://img.icons8.com/calculator" alt="BMI" />
                <h3>Kalkulator BMI</h3>
                <p>Oblicz swoje BMI oraz zapotrzebowanie kaloryczne</p>
            </a>
            <a href="/Notepad" class="feature-card">
                <img src="https://img.icons8.com/?size=100&id=7633&format=png&color=000000" alt="Notatnik" />
                <h3>Notatnik</h3>
                <p>Zapisuj, edytuj i organizuj informacje o treningach.</p>
            </a>
            <a href="/Daily_workout" class="feature-card">
                <img src="https://img.icons8.com/ios-filled/50/000000/medal.png" alt="Codzienny Chalange" />
                <h3>Codzienna motywacja </h3>
                <p>Ćwicz i zbieraj nagrody z codziennych wyzwań</p>
            </a>
            <a href="/myData" class="feature-card">
                <img src="https://img.icons8.com/?size=100&id=1475&format=png&color=000000" alt="Dane" />
                <h3>Dane </h3>
                <p>Twoje Dane</p>
            </a>
            <a href="https://www.facebook.com/groups/1659886254329953" class="feature-card" target="_blank">
                <img src="https://img.icons8.com/?size=100&id=118467&format=png&color=000000" alt="Dane" />
                <h3>Społeczność na Facebooku</h3>
                <p>Dołącz do grona osób na Facebooku korzystających z aplikacji i dziel się informacjami</p>
            </a>

        </div>
    </div>
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        (function () {
            window.history.pushState(null, null, window.location.href);
            window.onpopstate = function (event) {
                fetch("{{ url_for('logout') }}", { method: "POST" }) // Automatyczne wylogowanie
                    .then(() => window.location.href = "{{ url_for('index') }}"); // Przekierowanie na stronę główną
            };
        })();
    </script>


    <footer>
        <p>&copy; 2024 TreningManager - Wszystkie prawa zastrzeżone</p>
    </footer>
</body>

</html>