<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer Bokserski</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Timer.css') }}">
</head>

<body>
    <div class="hero">
        <h1>Boxing Timer</h1>
        <p id="big-timer">00:00</p>
        <p id="status">Runda 1 - Ćwiczenia</p>
        <div class="button-container">
            <button type="button" id="start-button">Start</button>
            <button type="button" id="stop-button" disabled>Stop</button>
            <button type="button" id="reset-button">Reset</button>
        </div>
    </div>

    <div class="features">
        <form id="timer-settings">
            <div class="form-group">
                <label for="rounds"><b>Liczba rund:</b></label>
                <input type="number" id="rounds" name="rounds" min="1" max="20" value="3">
            </div>
            <div class="form-group">
                <label for="exercise-time"><b>Czas ćwiczenia (sekundy):</b></label>
                <input type="number" id="exercise-time" name="exercise-time" min="10" max="300" value="60">
            </div>
            <div class="form-group">
                <label for="break-time"><b>Czas przerwy (sekundy):</b></label>
                <input type="number" id="break-time" name="break-time" min="10" max="300" value="30">
            </div>
        </form>
    </div>
    <a href="{{ url_for('main') }}" class="btn">Powrót do głównej</a>
    <footer>
        <p>&copy; 2024 Boxing Timer - Wszystkie prawa zastrzeżone</p>
    </footer>

    <script>
        let timerInterval, isRunning = false, currentRound, timeLeft, isExercise;
        let rounds, exerciseTime, breakTime;
        const bigTimer = document.getElementById('big-timer');
        const status = document.getElementById('status');
        const startButton = document.getElementById('start-button');
        const stopButton = document.getElementById('stop-button');
        const resetButton = document.getElementById('reset-button');
        const ding = new Audio('./media/button-10.wav');

        function updateBigTimer() {
            bigTimer.textContent = `${Math.floor(timeLeft / 60)}:${String(timeLeft % 60).padStart(2, '0')}`;
        }

        function updateStatus() {
            status.textContent = isExercise ? `Runda ${currentRound} - Ćwiczenia` : `Przerwa - Runda ${currentRound}`;
        }

        function startTimer() {
            timerInterval = setInterval(() => {
                updateBigTimer();
                updateStatus();

                if (timeLeft === 0) {
                    ding.play();
                    if (isExercise) {
                        document.body.classList.add('break');
                        timeLeft = breakTime;
                        isExercise = false;
                    } else {
                        document.body.classList.remove('break');
                        if (currentRound >= rounds) {
                            clearInterval(timerInterval);
                            status.textContent = 'Trening zakończony!';
                            bigTimer.textContent = '00:00';
                            isRunning = false;
                            startButton.disabled = false;
                            stopButton.disabled = true;
                            return;
                        }
                        currentRound++;
                        timeLeft = exerciseTime;
                        isExercise = true;
                    }
                } else {
                    timeLeft--;
                }
            }, 1000);
            isRunning = true;
            startButton.disabled = true;
            stopButton.disabled = false;
        }

        function stopTimer() {
            clearInterval(timerInterval);
            isRunning = false;
            startButton.disabled = false;
            stopButton.disabled = true;
        }

        function resetTimer() {
            clearInterval(timerInterval);
            rounds = parseInt(document.getElementById('rounds').value, 10);
            exerciseTime = parseInt(document.getElementById('exercise-time').value, 10);
            breakTime = parseInt(document.getElementById('break-time').value, 10);
            currentRound = 1;
            timeLeft = exerciseTime;
            isExercise = true;
            updateBigTimer();
            updateStatus();
            isRunning = false;
            startButton.disabled = false;
            stopButton.disabled = true;
        }

        startButton.addEventListener('click', () => {
            if (!isRunning) {
                startTimer();
            }
        });

        stopButton.addEventListener('click', stopTimer);
        resetButton.addEventListener('click', resetTimer);

        resetTimer();
    </script>
</body>

</html>