<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer Bokserski</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Timer.css') }}">

</head>

<body>

    <div class="hero">
        <h1>Boxing Timer</h1>
        <p id="big-timer">00:00</p>
        <p id="status">Runda 1 - Ćwiczenia</p> <!-- Status będzie wyświetlany pod zegarem -->
        <button type="button" id="start-button">Rozpocznij Trening</button>
    </div>

    <div class="features">
        <form id="timer-settings">
            <div class="form-group">
                <label for="rounds"><b>Liczba rund:</b></label>
                <input type="number" id="rounds" name="rounds" min="1" max="20" value="3">
            </div>
            <div class="form-group">
                <label for="exercise-time"><b>Czas ćwiczenia (sekundy):</b></label>
                <input type="number" id="exercise-time" name="exercise-time" min="10" max="300" value="60">
            </div>
            <div class="form-group">
                <label for="break-time"><b>Czas przerwy (sekundy):</b></label>
                <input type="number" id="break-time" name="break-time" min="10" max="300" value="30">
            </div>
        </form>
    </div>

    <footer>
        <p>&copy; 2024 Boxing Timer - Wszystkie prawa zastrzeżone</p>
    </footer>

    <script>
        let timerInterval;
        let isTimerRunning = false; // Flaga wskazująca, czy timer jest uruchomiony
        let currentRound;
        let timeLeft;
        let isExercise;
        let rounds, exerciseTime, breakTime; // Przechowujemy wartości z formularza
        const bigTimer = document.getElementById('big-timer');
        const status = document.getElementById('status');
        const startButton = document.getElementById('start-button');
        const ding = new Audio('./media/button-10.wav'); // Ścieżka do dźwięku

        const updateBigTimer = () => {
            bigTimer.textContent = `${Math.floor(timeLeft / 60)}:${String(timeLeft % 60).padStart(2, '0')}`;
        };

        const updateStatus = () => {
            if (isExercise) {
                status.textContent = `Runda ${currentRound} - Ćwiczenia`;
            } else {
                status.textContent = `Przerwa - Runda ${currentRound}`;
            }
        };

        // Funkcja startująca timer
        const startTimer = () => {
            // Funkcja uruchamiająca timer
            timerInterval = setInterval(() => {
                updateBigTimer();
                updateStatus();

                if (timeLeft === 0) {
                    ding.play(); // Odtwarzaj dźwięk przy każdej zmianie

                    if (isExercise) {
                        document.body.classList.add('break'); // Możesz dodać klasę CSS do zmiany koloru w przerwie
                        timeLeft = breakTime;
                        isExercise = false;
                    } else {
                        document.body.classList.remove('break');
                        if (currentRound >= rounds) {
                            clearInterval(timerInterval);
                            status.textContent = 'Trening zakończony!';
                            bigTimer.textContent = '00:00';
                            startButton.textContent = 'Rozpocznij Trening';
                            isTimerRunning = false;
                            return;
                        }
                        currentRound++;
                        timeLeft = exerciseTime;
                        isExercise = true;
                    }
                } else {
                    timeLeft--;
                }
            }, 1000);

            startButton.textContent = 'Stop'; // Zmiana tekstu na "Stop"
        };

        // Funkcja zatrzymująca timer
        const stopTimer = () => {
            clearInterval(timerInterval);
            startButton.textContent = 'Wznów Trening'; // Zmiana tekstu na "Wznów Trening"
            isTimerRunning = false;
        };

        document.getElementById('start-button').addEventListener('click', () => {
            // Pobieramy wartości z formularza
            rounds = parseInt(document.getElementById('rounds').value, 10);
            exerciseTime = parseInt(document.getElementById('exercise-time').value, 10);
            breakTime = parseInt(document.getElementById('break-time').value, 10);

            // Jeśli timer nie działa, rozpoczynamy trening
            if (!isTimerRunning) {
                currentRound = 1;
                timeLeft = exerciseTime;
                isExercise = true;
                startTimer();
                isTimerRunning = true;
            } else {
                stopTimer();
            }
        });
    </script>

</body>

</html>